.button {
    font-size: 0.75em;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.05%;
    text-transform: uppercase;

    width: 16.75em;
    height: 3.333333333333333em;
    padding: 1.0833em 4.3333em;
    border-radius: 8.333333333333333em;
}
