.latest-articles__heading {
    font-size: 1.125em; /* 18 / 16 */
    color: $black;
    line-height: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 2.222222222222222em 0 1.333333333333333em; 

    @media (max-width: 64em) {
        margin: 2em 0 1.1em; 
    }
    @media (max-width: 24.375em) {     /* 390 */
        margin: 2.222222222222222em 0 1.333333333333333em 1.461111111111111em;
    }
    @media (max-width: 20em) {
        margin: 1.666666666666667em 0 0.7777777777777778em 0.8333333333333333em;
    }
}

.latest-articles__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 35.0625em 36.3125em; 
    gap: 3.75em 2.5em; /* 60px 40px */ 

    .card-copy {
        display: none;
    }

    @media (max-width: 80em) {
        grid-template-rows: auto 31.9525em;
    }
    @media (max-width: 64em) {
        grid-template-rows: auto 32.4925em;
        gap: 2.5em 1.875em; /* 40px 30px*/
    }
    @media (max-width: 48em) {
        grid-template-rows: 29.3125em 30em;
    }
    @media (max-width: 36em) {      /* 576 */
        grid-template-columns: 1fr;
        grid-template-rows: 30em;
        /* gap: 1.5em 1em; */        
    }
    @media (max-width: 28.125em) {     /* 450 */    
        grid-template-rows: 27.199875em;
    }
    @media (max-width: 24.375em) {     /* 390 */
        grid-template-rows: none;
    }

    @media (max-width: 20em) {
        grid-template-rows: 23.125em 23.0625em 18.125em 23.125em;
        gap: 1.875em;

        .card-copy {
            display: block;
        }
        .card:nth-child(3) {
            display: none; 
        }
    }
}

    
