// Fonts
$font-main: "Roboto Flex", sans-serif;
$font-hashtag: "Manrope", sans-serif; 

// Colors
$white: #FFFFFF;
$red: #F01B0D;
$black: #000000;
$title: #1F1F1F;
$gray: #828282;
$fallback: #3F3F3F;
$overlay: #3F3F3F;
